// 此文件为uView的主题变量，这些变量目前只能通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每一个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-type-primary: #2979ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

// bitcode phoenix style guild
$u-background-primary-color: #ffffff;
$u-background-primary-color-secondary: #f8f8f8;

$u-primary-color: #fde814;
$u-secondary-color: "#FC9603";
$u-tertiary-color: #f22764;
$u-disabled-color: #ababab;
$u-divider-color: #ececec;

.primary-button {
  background-color: #fde814;
  border: none;
  border-radius: 50px;
  color: #000000;
  font-size: 28rpx;
  font-weight: 600;
}

.secondary-button {
  background: #fc9603;
  border: none;
  border-color: #fc9603;
  border-radius: 36rpx;
  color: #ffffff;
  font-size: 28rpx;
  font-weight: 600;
}

.gradient-button {
  background: linear-gradient(90deg, #fc9603 0%, rgba(242, 39, 100, 1) 100%);
  border-radius: 36rpx;
  color: #ffffff;
  font-size: 28rpx;
  font-weight: 600;
  line-height: 66rpx;
  padding: 0 30rpx;
}

.link-button {
  background: rgba(255, 255, 255, 0);
  color: #33ccff;
  font-weight: 300;
  text-decoration: underline;
}

.text-button {
  background: rgba(255, 255, 255, 0);
  color: #1fb4ed;
  font-size: 18;
  font-weight: 500;
}

.text-button-small {
  @extend .text-button;
  font-size: 16;
  font-weight: 300;
}

.header {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

.header-small {
  @extend .header;
  font-size: 16px;
}

.body-text {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
}

.caption {
  color: #ababab;
  font-size: 14px;
}

.caption-small {
  @extend .caption;
  font-size: 12px;
}

// style guide end

uni-page-body {
  height: 100%;
}

.uni-page-head-btn {
  display: flex;
}

button::after {
  border: none;
}

// application defined theme color
$u-card-background-color: #f9fbfa;
$u-price-color: red;

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.center-row-container {
  display: flex;
  align-items: center;
}

.page-container {
  background: white;
  height: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.page-container-secondary {
  @extend .page-container;
  background: $u-background-primary-color-secondary;
}

.section-container {
  padding-top: 15px;
}

.text-primary {
  font-size: 18px;
}

:export {
  backgroundColor: $u-background-primary-color;
  backgroundColorSecondary: $u-background-primary-color-secondary;
  cardBackgroundColor: $u-card-background-color;
  dividerColor: $u-divider-color;
  primaryColor: $u-primary-color;
  secondaryColor: $u-secondary-color;
}
